.backgroundjt {
  background-image: url("./assets/hawaii.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
}

.cards-container {
  margin: 0rem 15rem;
  height: auto;
}

.card {
  margin: 1rem;
}
